<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="contenido">
            <h2>Listado de Articulos</h2>
            <br>
            <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
            <br>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <tr>
                        <td>Descripcion</td>
                        <td>Precio</td>
                        <td>Existencias</td>
                        <td>Activo</td>
                        <td>Modificar</td>
                        <td>Eliminar</td>

                    </tr>
                    <tr th:each="item : ${articulos}">
                        <td th:text="${item.descripcion}"></td>
                        <td th:text="${#numbers.formatDecimal(item.precio,3,2)}"></td>
                        <td th:text="${item.existencias}"></td>
                        <td><input type="checkbox" name="activo" th:checked="${item.activo}" disabled="true"></td>
                        <td><a th:href="@{/articulo/modificar/} + ${item.idArticulo}">Modificar</a></td>
                        <td><a th:href="@{/articulo/eliminar/} + ${item.idArticulo}">Eliminar</a></td>
                    </tr>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                No tenemos articulos para mostar
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
