<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>403</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .contenido {
                text-align: center;
                border-radius: 20px;
                top: 50%;
                left: 50%;
                margin-left: -250px;
                margin-top: -75px;
                width: 500px;
                height: 150px;
                background-color: red;
                position: fixed;
                overflow: auto;
            }
        </style>
    </head>
    <body>
        <div class="contenido">
            <h2>[[#{e403.titulo}]]</h2>
            <h2>[[#{e403.texto}]]</h2>
            <a th:href="@{/}">[[#{accion.regresar}]]</a>
        </div>
    </body>
</html>
