<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="contenido">
            <h2>Datos del Cliente</h2>

            <form th:action="@{/cliente/guardar}" 
                  method="post" 
                  th:object="${cliente}">
                <input type="hidden" name="idCliente" th:field="*{idCliente}">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br><br>
                <label for="apellidos">Apellidos: </label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br><br>
                <label for="correo">Correos: </label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br><br>
                <label for="telefono">Telefono: </label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>
                <br><br>
                <label for="limite">Limite: </label>
                <input type="number" name="limite" th:field="*{credito.limite}"/>
                <br><br>
                <input type="submit" name="guardar" value="Guardar Registro"/>

            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
