<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .contenido {
                text-align: center;
                border-radius: 20px;
                top: 50%;
                left: 50%;
                margin-left: -200px;
                margin-top: -125px;
                width: 400px;
                height: 250px;
                background-color: grey;
                position: fixed;
                overflow: auto;
            }
        </style>
    </head>
    <body>
        <div class="contenido">
            <h2 th:text="#{login.login}" style="text-align: center;">Login</h2>
            <form method="POST" th:action="@{/login}">
                <label for="username" th:text="#{login.username}">Username</label>
                <input type="text" name="username" id="username" />
                <br><br>
                <label for="password" th:text="#{login.password}">Password</label>
                <input type="password" name="password" id="password" />
                <br><br>
                <button type="submit" value="Login">Login</button>
            </form>
        </div>
    </body>
</html>
